:root {
    --dndCustomNumberInputWidth: 100px;
    --dndCustomEditorInputWidthLarger: 1200px;
    --dndCustomEditorInputWidthLarge: 1000px;
    --dndCustomEditorInputWidthMiddle: 850px;
    --dndCustomEditorInputWidthDefault: 500px;
    --dndCustomEditorInputWidthSmall: 250px;
}

div.mb-input-type-number > input[type="number"] {
    -webkit-app-region: no-drag;
    background: var(--background-modifier-form-field);
    border: var(--input-border-width) solid var(--background-modifier-border);
    color: var(--text-normal);
    font-family: inherit;
    padding: var(--size-4-1) var(--size-4-2);
    font-size: var(--font-ui-small);
    border-radius: var(--input-radius);
    outline: none;
    width: var(--dndCustomNumberInputWidth) !important;
    text-align: center;
}

/* to use these customizing add these to your input: class(dndLargeHeight)*/

.dndSmallHeight > .mb-editor-input {
    height: var(--dndCustomEditorInputWidthSmall) !important;
}

.dndDefaultHeight > .mb-editor-input {
    height: var(--dndCustomEditorInputWidthDefault) !important;
}

.dndMiddleHeight > .mb-editor-input {
    height: var(--dndCustomEditorInputWidthMiddle) !important;
}

.dndLargeHeight > .mb-editor-input {
    height: var(--dndCustomEditorInputWidthLarge) !important;
}

.dndLargerHeight > .mb-editor-input {
    height: var(--dndCustomEditorInputWidthLarger) !important;
}